PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=BibvYb9mmXD-W7SrQIUt290hrDA5aTmZ
DRIVE_DISK=local
DB_CONNECTION=mysql
S3_KEY=dummyKey
S3_SECRET=dummySecret
S3_BUCKET=dummyBucket
S3_REGION=dummyRegion
S3_ENDPOINT=dummyEndpoint
SESSION_DRIVER=cookie
