// Variables
$primaryColor: #ffb607;
$nearBlack: #212427;
$nearWhite: #f5f5fa;
$primaryFontfamily: Montserrat;
$mobileScreen: 768px;
$tabletMinScreen: 769px;
$tabletMaxScreen: 1023px;
$desktopScreen: 1024px;
$seventyPercent: 70%;

// template media Queries
@media screen and (max-width: $tabletMaxScreen) and (min-width: $tabletMinScreen) {
}
@media screen and (max-width: $tabletMaxScreen) {
}

tbody {
    tr {
      &:nth-child(even) {
        background-color: #f5f5fa;
      }
      &:nth-child(odd) {
        background-color: #3f3f4e1f;
      }
    }
  }

  .header_h1 {
    text-transform: capitalize;
    text-align: center;
    background-color: #404040;
    padding-bottom: 3rem;
    padding-top: 3rem;
    font-weight: 800;
    font-size: 4rem;
    color: $nearWhite;
    font-family: 'Montserrat', sans-serif;
  }