// Variables
$primaryColor: #ffb607;
$nearBlack: #212427;
$nearWhite: #f5f5fa;
$primaryFontfamily: Montserrat;
$mobileScreen: 768px;
$tabletMinScreen: 769px;
$tabletMaxScreen: 1023px;
$desktopScreen: 1024px;
$seventyPercent: 70%;


// template media Queries
@media screen and (max-width: $tabletMaxScreen) and (min-width: $tabletMinScreen) {
}
@media screen and (max-width: $tabletMaxScreen) {
}

tbody {
    tr {
      &:nth-child(even) {
        background-color: #f5f5fa;
      }
      &:nth-child(odd) {
        background-color: #3f3f4e1f;
      }
    }
  }

  @mixin genericFlexColumn {
    display: flex;
    flex-direction: column;
  }

  @mixin genericFlexRow {
    display: flex;
    flex-direction: row;
  }
  
  .header_h1 {
    text-transform: capitalize;
    text-align: center;
    background-color: #404040;
    padding-bottom: 3rem;
    padding-top: 3rem;
    font-weight: 800;
    font-size: 4rem;
    color: $nearWhite;
    font-family: 'Montserrat', sans-serif;
  }

  .header2_h1 {
    text-transform: capitalize;
    text-align: center;
    background-color: #404040;
    padding-bottom: 1.5rem;
    padding-top: 1.5rem;
    font-weight: 600;
    font-size: 2rem;
    color: $nearWhite;
    font-family: 'Montserrat', sans-serif;
  }


  .form_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
  
    .form_item {
      flex: 1 0 40%; // Takes up 40% of the container width
      margin-bottom: 1rem; // Provides a bottom margin for when wrapping occurs
      &.full_width {
        flex: 0 0 100%; // Takes up full width of the container
      }
  
      &.half_width {
        flex: 0 0 50%; // Takes up half the width of the container
        margin-right: auto;
        margin-left: auto;
        @media screen and (max-width: 768px) {
          flex: 0 0 100%; // On small screens, form items take the full width
        }
      }
      @media screen and (max-width: 768px) {
        flex: 0 0 100%; // On small screens, form items take the full width
      }
    }
  }
  
  .areaoffocus_container {
    display: flex;
    flex-wrap: wrap;
    
    .item {
      flex-basis: 50%;
      box-sizing: border-box;
      padding: 10px;
      display: flex;
      img{
        width: 11%;
      }
 flex-direction: column;
         align-items: center;
      @media (max-width: 768px) {
        flex-basis: 100%;
       
      }
    }
  }
  

  .base_container {
    padding: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;    
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
